{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}閒聊討論區{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <!-- <script src="{% static 'js/darkmode.js' %}"></script> -->
  {% block head %}{% endblock %}
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <div class="navbar-brand mb-0 h1">
        <a href="{% url 'index' %}" class="text-decoration-none text-dark">閒聊討論區</a>
      </div>

      <div class="d-flex align-items-center">
        <!-- <button class="darkModeContainer" id="darkModeToggle">🌙 夜間模式</button> -->
        {% if user.is_authenticated %}
          <span class="me-3">歡迎，{{ user.username }}!</span>
          <a href="posts/new/" class="btn btn-primary me-2">新增貼文</button>
          <a href="{% url 'logout' %}" class="btn btn-outline-secondary">登出</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">登入</a>
        {% endif %}
      </div>
    </div>
  </header>

  <main class="container my-4">
    {% block content %}{% endblock %}
  </main>

  <footer class="bg-light py-3 mt-auto">
    <div class="container text-center">
      <p class="text-muted mb-0">Copyright© 2025 CSIE5210 Web程式設計與應用 113-2 Group 24. All rights reserved.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>